<div>
  <div>
    <ul>
      <li class="song"><%= @lyrics["snippet"][0..9]  %></li>
      <li class="song"><%= @lyrics["snippet"][10..30]  %></li>
      <li class="song"><%= @lyrics["snippet"][31..61]  %></li>
      <li class="song"><%= @lyrics["snippet"][62..102]  %></li>
      <li class="song"><%= @lyrics["snippet"][103..133]  %></li>
      <li class="song"><%= @lyrics["snippet"][134..154]  %></li>
      <li class="song"><%= @lyrics["snippet"][155..165]  %></li>
    </ul>
  <div>

  <footer>
    <a href="<%= @lyrics["artist"]["url"] %>"target="_blank">
      <div class"artist-link">
        <p class="artist"><%= @lyrics["artist"]["name"] %> - <%= @lyrics["title"] %></p>
      </div>
  </footer>
</div>
